/**
 * Flex of milk-component
 * @author caiyongmin
 *
 * Copyright 2017-2019, All rights reserved.
 */

 body {
  font-family: PingFang SC,Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial;
  font-size: 28px;
 }

.section-demo {
  padding: 0 25px;
}

.demo__title {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
}

.demo__description {
  margin-top: 15px;
  font-size: 26px;
  color: #3b3b3b;
}

.demo__placeholder__box {
  width: 100%;
  height: 60px;
  background-color: #ebebef;
  color: #bbb;
  line-height: 60px;
  text-align: center;
  &.box__quarter {
    width: 156px;
    margin: 0 0 20px 20px;
    &:nth-child(4n+1) {
      margin-left: 0;
    }
  }
  &.box__height-short {
    height: 45px;
    line-height: 45px;
  }
}

.demo__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.demo__list_title {
  padding: 30px 0 18px;
  margin: 0;
  font-size: 28px;
  font-weight: lighter;
  color: #888;
}

.demo__item {
  margin-bottom: 20px;
}
