/**
 * Flex of milk-component
 * @author caiyongmin
 *
 * Copyright 2017-2019, All rights reserved.
 */

@import './mixin';
$prefixCls: 'milk-flexbox';

.#{$prefixCls} {
  display: flex;

  &#{&}__dir-row {
    @include flex-direction(row);
  }
  &#{&}__dir-row-reverse {
    @include flex-direction(row-reverse);
  }
  &#{&}__dir-column {
    @include flex-direction(column);
  }
  &#{&}__dir-column-reverse {
    @include flex-direction(column-reverse);
  }

  &#{&}__nowrap {
    @include flex-wrap(nowrap);
  }
  &#{&}__wrap {
    @include flex-wrap(wrap);
  }
  &#{&}__wrap-reverse {
    @include flex-wrap(wrap-reverse);
  }

  &#{&}__justify-start {
    @include flex-justify(flex-start);
  }
  &#{&}__justify-end {
    @include flex-justify(flex-end);
  }
  &#{&}__justify-center {
    @include flex-justify(center);
  }
  &#{&}__justify-between {
    @include flex-justify(space-between);
  }
  &#{&}__justify-around {
    @include flex-justify(space-around);
  }

  &#{&}__align-top {
    @include box-align(flex-start);
  }
  &#{&}__align-bottom {
    @include box-align(flex-end);
  }
  &#{&}__align-middle {
    @include box-align(center);
  }
  &#{&}__align-stretch {
    @include box-align(stretch);
  }
  &#{&}__align-baseline {
    @include box-align(baseline);
  }

  &#{&}__align-center-start {
    @include box-align-content(flex-start);
  }
  &#{&}__align-center-end {
    @include box-align-content(flex-end);
  }
  &#{&}__align-center-center {
    @include box-align-content(center);
  }
  &#{&}__align-center-stretch {
    @include box-align-content(stretch);
  }
  &#{&}__align-center-between {
    @include box-align-content(space-between);
  }
  &#{&}__align-center-around {
    @include box-align-content(space-around);
  }

  .#{$prefixCls}__item {
    @include box-sizing;
    @include box-flex;
    margin-left: 20px;
    min-width: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}
