/**
 * Flex of milk-component
 * @author caiyongmin
 *
 * Copyright 2017-2019, Milk Team.
 * All rights reserved.
 */

@import './mixin';
$prefixCls: 'milk-flexbox';

.#{$prefixCls} {
  display: flex;

  &#{&}-dir-row {
    @include flex-direction(row);
  }
  &#{&}-dir-row-reverse {
    @include flex-direction(row-reverse);
  }
  &#{&}-dir-column {
    @include flex-direction(column);
  }
  &#{&}-dir-column-reverse {
    @include flex-direction(column-reverse);
  }

  &#{&}-nowrap {
    @include flex-wrap(nowrap);
  }
  &#{&}-wrap {
    @include flex-wrap(wrap);
  }
  &#{&}-wrap-reverse {
    @include flex-wrap(wrap-reverse);
  }

  &#{&}-justify-start {
    @include flex-justify(flex-start);
  }
  &#{&}-justify-end {
    @include flex-justify(flex-end);
  }
  &#{&}-justify-center {
    @include flex-justify(center);
  }
  &#{&}-justify-between {
    @include flex-justify(space-between);
  }
  &#{&}-justify-around {
    @include flex-justify(space-around);
  }

  &#{&}-align-top {
    @include box-align(flex-start);
  }
  &#{&}-align-bottom {
    @include box-align(flex-end);
  }
  &#{&}-align-middle {
    @include box-align(center);
  }
  &#{&}-align-stretch {
    @include box-align(stretch);
  }
  &#{&}-align-baseline {
    @include box-align(baseline);
  }

  &#{&}-align-center-start {
    @include box-align-content(flex-start);
  }
  &#{&}-align-center-end {
    @include box-align-content(flex-end);
  }
  &#{&}-align-center-center {
    @include box-align-content(center);
  }
  &#{&}-align-center-stretch {
    @include box-align-content(stretch);
  }
  &#{&}-align-center-between {
    @include box-align-content(space-between);
  }
  &#{&}-align-center-around {
    @include box-align-content(space-around);
  }

  .#{$prefixCls}-item {
    @include box-sizing;
    @include box-flex;
    margin-left: 20px;
    min-width: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}
